.mp-svg-checkmark-thick--success, .mp-svg-checkmark-thick-green {
    background: url(Sprite-3dddacc5.svg) no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
}

.mp-svg-checkmark-thick--secondary, .mp-svg-checkmark-thick-grey, .mp-svg-checkmark-thick-grey-dark {
	background: url(Sprite-3dddacc5.svg) no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
}